@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,700,900&display=swap&subset=cyrillic');

$heading-font-family: 'Montserrat';
$body-font-family: 'Montserrat';
$title-font: 'Montserrat';

$border-radius-root: 0px;
$font-size-root: 16px;

$text-field-filled-full-width-outlined-single-line-slot-min-height: 30px !default;
$text-field-outlined-fieldset-border: 0.5px solid #C7C7C7 !default;


$headings: (
  (
    'h1': (
      'size': 6rem,
      'weight': 300,
      'line-height': 6rem,
      'letter-spacing': -.015625em,
      'font-family': $heading-font-family
    ),
    'h2': (
      'size': 3.75rem,
      'weight': 300,
      'line-height': 3.75rem,
      'letter-spacing': -.0083333333em,
      'font-family': $heading-font-family
    ),
    'h3': (
      'size': 2.5rem,
      'weight': 400,
      'line-height': 3.125rem,
      'letter-spacing': normal,
      'font-family': $heading-font-family
    ),
    'h4': (
      'size': 1.75rem,
      'weight': 400,
      'line-height': 2.5rem,
      'letter-spacing': .0073529412em,
      'font-family': $heading-font-family
    ),
    'display-1': (
      'size': 1.75rem,
      'weight': 400,
      'line-height': 2.5rem,
      'letter-spacing': .0073529412em,
      'font-family': $heading-font-family
    ),

    'h5': (
      'size': 1.5rem,
      'weight': 400,
      'line-height': 2rem,
      'letter-spacing': normal,
      'font-family': $heading-font-family
    ),
    'h6': (
      'size': 1.25rem,
      'weight': 500,
      'line-height': 2rem,
      'letter-spacing': .0125em,
      'font-family': $heading-font-family
    ),
    'subtitle-1': (
      'size': 1rem,
      'weight': 400,
      'line-height': 1.75rem,
      'letter-spacing': .009375em,
      'font-family': $body-font-family
    ),
    'subtitle-2': (
      'size': .875rem,
      'weight': 500,
      'line-height': 1.375rem,
      'letter-spacing': .0071428571em,
      'font-family': $body-font-family
    ),
    'body-2': (
      'size': .875rem,
      'weight': 400,
      'letter-spacing': .0178571429em,
      'line-height': 1.25rem,
      'font-family': $body-font-family
    ),
    'body-1': (
      'size': 1rem,
      'weight': 400,
      'letter-spacing': .03125em,
      'line-height': 1.5rem,
      'font-family': $body-font-family
    ),
    'caption': (
      'size': .75rem,
      'weight': 400,
      'letter-spacing': .0333333333em,
      'line-height': 1.25rem,
      'font-family': $body-font-family
    ),
    'overline': (
      'size': .625rem,
      'weight': 400,
      'letter-spacing': .1666666667em,
      'line-height': 1rem,
      'font-family': $body-font-family
    )
  ),
)
